<div id="banner">
  <div class="bg-color">
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
        
            <ul class="nav navbar-nav">
              <li class="active">
                <a [routerLink]="['/']">
                  <img class="img-logo " src="assets/img/url.png">
                </a>
              </li>
        
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a [routerLink]="['/login']" class="btn btn-link">LOGIN</a>
                <a [routerLink]="['/register']" class="btn btn-link">SIGN UP</a>
              </li>
            </ul>
          </div>
        </nav>
        
        <div class="container" style="text-align: center; width: 80%;">
            <h1 class="title-text">Short URL</h1>
            <h2 class="title-text">Paste the URL to be shortened</h2>
            <form name="form-signin" (ngSubmit)="shorten()" style="margin-top: 1em;">
              <div class="input-group">
                <input type="text" class="form-control shorten-url" placeholder="Enter the link here" id="full_url" name="full_url"
                  [(ngModel)]="url.longUrl" #longUrl="ngModel" autocomplete="off">
                <div class="input-group-append">
                  <button class="btn btn-shorten" type="submit">SHORTEN</button>
                </div>
              </div>
              
            </form>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
            <div class="my-4 shorten-box-home" style="min-height: 300px;">
              <div class="row">
                  <a href="{{unauthUrl}}" class="" style="display: inline-block;">{{unauthUrl}}</a>
              </div>
              <br>
              <div class="row">
                  <a href="{{url.shortUrl}}" class="btn-link" style="display: inline-block;">{{url.shortUrl}}</a>
              </div>
            </div>
          
        </div>
  </div>
</div>
